@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

/* Light mode */
:root {
  --bg: #ffffff;
  --bg-secondary: #f9f9f9;
  --text-primary: #111111;
  --text-secondary: #555555;
  --border: #e5e5e5;
  --border-secondary: #A4A4A4;
  --nav-bg: rgba(255, 255, 255);
  --button-bg: #2e2e2e;
}

/* Dark mode */
html.dark {
  --bg: #222831;
  --bg-secondary: #141414;
  --text-primary: #f0f0f0;
  --text-secondary: #999999;
  --border: #2a2a2a;
  --button-bg: #E1DFE0;
  --nav-bg: #222831;
}

body {
  background-color: var(--bg);
  color: var(--text-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: inherit;
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }

  html {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media (max-width: 768px) {
  .footer-section-pad {
    padding: 1rem 1.5rem !important;
  }
}

@font-face {
  font-family: "Futura PT";
  src: url("./assets/fonts/FuturaCyrillicLight.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Futura PT";
  src: url("./assets/fonts/FuturaCyrillicBook.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Futura PT";
  src: url("./assets/fonts/FuturaCyrillicMedium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Futura PT";
  src: url("./assets/fonts/FuturaCyrillicDemi.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Futura PT";
  src: url("./assets/fonts/FuturaCyrillicBold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Futura PT";
  src: url("./assets/fonts/FuturaCyrillicExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Futura PT";
  src: url("./assets/fonts/FuturaCyrillicHeavy.ttf") format("truetype");
  font-weight: 900;
}

body {
  font-family: "Futura PT", sans-serif !important;
}
